<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="sysMenu">
            <h2><span jhiTranslate="frameworkApp.sysMenu.detail.title">Sys Menu</span> {{ sysMenu.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="frameworkApp.sysMenu.createdBy" [ngbTooltip]="'frameworkApp.sysMenu.help.createdBy' | translate">Created By</span></dt>
                <dd>
                    <span>{{ sysMenu.createdBy }}</span>
                </dd>
                <dt><span jhiTranslate="frameworkApp.sysMenu.createdDate" [ngbTooltip]="'frameworkApp.sysMenu.help.createdDate' | translate">Created Date</span></dt>
                <dd>
                    <span>{{ sysMenu.createdDate }}</span>
                </dd>
                <dt><span jhiTranslate="frameworkApp.sysMenu.lastModifiedBy" [ngbTooltip]="'frameworkApp.sysMenu.help.lastModifiedBy' | translate">Last Modified By</span></dt>
                <dd>
                    <span>{{ sysMenu.lastModifiedBy }}</span>
                </dd>
                <dt><span jhiTranslate="frameworkApp.sysMenu.lastModifiedDate" [ngbTooltip]="'frameworkApp.sysMenu.help.lastModifiedDate' | translate">Last Modified Date</span></dt>
                <dd>
                    <span>{{ sysMenu.lastModifiedDate }}</span>
                </dd>
                <dt><span jhiTranslate="frameworkApp.sysMenu.deleted" [ngbTooltip]="'frameworkApp.sysMenu.help.deleted' | translate">Deleted</span></dt>
                <dd>
                    <span>{{ sysMenu.deleted }}</span>
                </dd>
                <dt><span jhiTranslate="frameworkApp.sysMenu.code" [ngbTooltip]="'frameworkApp.sysMenu.help.code' | translate">Code</span></dt>
                <dd>
                    <span>{{ sysMenu.code }}</span>
                </dd>
                <dt><span jhiTranslate="frameworkApp.sysMenu.parentIds" [ngbTooltip]="'frameworkApp.sysMenu.help.parentIds' | translate">Parent Ids</span></dt>
                <dd>
                    <span>{{ sysMenu.parentIds }}</span>
                </dd>
                <dt><span jhiTranslate="frameworkApp.sysMenu.siblingSort" [ngbTooltip]="'frameworkApp.sysMenu.help.siblingSort' | translate">Sibling Sort</span></dt>
                <dd>
                    <span>{{ sysMenu.siblingSort }}</span>
                </dd>
                <dt><span jhiTranslate="frameworkApp.sysMenu.globalSort" [ngbTooltip]="'frameworkApp.sysMenu.help.globalSort' | translate">Global Sort</span></dt>
                <dd>
                    <span>{{ sysMenu.globalSort }}</span>
                </dd>
                <dt><span jhiTranslate="frameworkApp.sysMenu.leaf" [ngbTooltip]="'frameworkApp.sysMenu.help.leaf' | translate">Leaf</span></dt>
                <dd>
                    <span>{{ sysMenu.leaf }}</span>
                </dd>
                <dt><span jhiTranslate="frameworkApp.sysMenu.level" [ngbTooltip]="'frameworkApp.sysMenu.help.level' | translate">Level</span></dt>
                <dd>
                    <span>{{ sysMenu.level }}</span>
                </dd>
                <dt><span jhiTranslate="frameworkApp.sysMenu.shortName" [ngbTooltip]="'frameworkApp.sysMenu.help.shortName' | translate">Short Name</span></dt>
                <dd>
                    <span>{{ sysMenu.shortName }}</span>
                </dd>
                <dt><span jhiTranslate="frameworkApp.sysMenu.fullName" [ngbTooltip]="'frameworkApp.sysMenu.help.fullName' | translate">Full Name</span></dt>
                <dd>
                    <span>{{ sysMenu.fullName }}</span>
                </dd>
                <dt><span jhiTranslate="frameworkApp.sysMenu.href" [ngbTooltip]="'frameworkApp.sysMenu.help.href' | translate">Href</span></dt>
                <dd>
                    <span>{{ sysMenu.href }}</span>
                </dd>
                <dt><span jhiTranslate="frameworkApp.sysMenu.icon" [ngbTooltip]="'frameworkApp.sysMenu.help.icon' | translate">Icon</span></dt>
                <dd>
                    <span>{{ sysMenu.icon }}</span>
                </dd>
                <dt><span jhiTranslate="frameworkApp.sysMenu.visible" [ngbTooltip]="'frameworkApp.sysMenu.help.visible' | translate">Visible</span></dt>
                <dd>
                    <span>{{ sysMenu.visible }}</span>
                </dd>
                <dt><span jhiTranslate="frameworkApp.sysMenu.status" [ngbTooltip]="'frameworkApp.sysMenu.help.status' | translate">Status</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'frameworkApp.MenuStatusType.' + sysMenu.status }}">{{ sysMenu.status }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/sys-menu', sysMenu.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
