<div>
    <h2 id="page-heading">
        <span jhiTranslate="frameworkApp.sysMenu.home.title">Sys Menus</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-sys-menu" [routerLink]="['/sys-menu/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="frameworkApp.sysMenu.home.createLabel">
            Create a new Sys Menu
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="sysMenus?.length === 0">
        <span jhiTranslate="frameworkApp.sysMenu.home.notFound">No sysMenus found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="sysMenus && sysMenus.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="frameworkApp.sysMenu.createdBy">Created By</span></th>
                    <th scope="col" ><span jhiTranslate="frameworkApp.sysMenu.createdDate">Created Date</span></th>
                    <th scope="col" ><span jhiTranslate="frameworkApp.sysMenu.lastModifiedBy">Last Modified By</span></th>
                    <th scope="col" ><span jhiTranslate="frameworkApp.sysMenu.lastModifiedDate">Last Modified Date</span></th>
                    <th scope="col" ><span jhiTranslate="frameworkApp.sysMenu.deleted">Deleted</span></th>
                    <th scope="col" ><span jhiTranslate="frameworkApp.sysMenu.code">Code</span></th>
                    <th scope="col" ><span jhiTranslate="frameworkApp.sysMenu.parentIds">Parent Ids</span></th>
                    <th scope="col" ><span jhiTranslate="frameworkApp.sysMenu.siblingSort">Sibling Sort</span></th>
                    <th scope="col" ><span jhiTranslate="frameworkApp.sysMenu.globalSort">Global Sort</span></th>
                    <th scope="col" ><span jhiTranslate="frameworkApp.sysMenu.leaf">Leaf</span></th>
                    <th scope="col" ><span jhiTranslate="frameworkApp.sysMenu.level">Level</span></th>
                    <th scope="col" ><span jhiTranslate="frameworkApp.sysMenu.shortName">Short Name</span></th>
                    <th scope="col" ><span jhiTranslate="frameworkApp.sysMenu.fullName">Full Name</span></th>
                    <th scope="col" ><span jhiTranslate="frameworkApp.sysMenu.href">Href</span></th>
                    <th scope="col" ><span jhiTranslate="frameworkApp.sysMenu.icon">Icon</span></th>
                    <th scope="col" ><span jhiTranslate="frameworkApp.sysMenu.visible">Visible</span></th>
                    <th scope="col" ><span jhiTranslate="frameworkApp.sysMenu.status">Status</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let sysMenu of sysMenus ;trackBy: trackId">
                    <td><a [routerLink]="['/sys-menu', sysMenu.id, 'view']">{{ sysMenu.id }}</a></td>
                    <td>{{ sysMenu.createdBy }}</td>
                    <td>{{ sysMenu.createdDate | date:'medium' }}</td>
                    <td>{{ sysMenu.lastModifiedBy }}</td>
                    <td>{{ sysMenu.lastModifiedDate | date:'medium' }}</td>
                    <td>{{ sysMenu.deleted }}</td>
                    <td>{{ sysMenu.code }}</td>
                    <td>{{ sysMenu.parentIds }}</td>
                    <td>{{ sysMenu.siblingSort }}</td>
                    <td>{{ sysMenu.globalSort }}</td>
                    <td>{{ sysMenu.leaf }}</td>
                    <td>{{ sysMenu.level }}</td>
                    <td>{{ sysMenu.shortName }}</td>
                    <td>{{ sysMenu.fullName }}</td>
                    <td>{{ sysMenu.href }}</td>
                    <td>{{ sysMenu.icon }}</td>
                    <td>{{ sysMenu.visible }}</td>
                    <td jhiTranslate="{{ 'frameworkApp.MenuStatusType.' + sysMenu.status }}">{{ sysMenu.status }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/sys-menu', sysMenu.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/sys-menu', sysMenu.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(sysMenu)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
